package segments

import (
    "github.com/mikeconroy/paceconv/types"
    "fmt"
)

templ ShowDistanceToPace(req types.DistanceToPaceRequest, paces []types.Pace) {
    <h4>{fmt.Sprintf("%.1f", req.Distance)} {req.DistanceUnits} in {req.Duration.String()} </h4>
    <ul>
    for _, pace := range paces {
       <li>{ pace.ReadableTime } min/{pace.Unit}</li> 
    }
    </ul>

}