package segments

import (
    "github.com/mikeconroy/paceconv/types"
    "fmt"
)

templ ShowDistanceConversion(req types.Distance, res types.Distance) {
    <h4>{fmt.Sprintf("%.2f", req.Value)} {req.Units} is {fmt.Sprintf("%.2f", res.Value)} {res.Units}</h4>
}