package segments

import (
    "github.com/mikeconroy/paceconv/types"
    "fmt"
)

templ ShowTemperatureConversion(req types.Temperature, res types.Temperature) {
    <h4>{fmt.Sprintf("%.1f", req.Value)}° {req.Units} is {fmt.Sprintf("%.1f", res.Value)}° {res.Units}</h4>
}