package view

import "github.com/mikeconroy/paceconv/view/sections"

templ ShowIndex() {
    @Base(){
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1" style="margin-left:20px">PaceConvert</span>
        </nav>
        @sections.ShowDistanceToPace()
        @sections.ShowDistanceConverter()
        @sections.ShowTemperatureConverter()
    }
}
