package view

import "github.com/mikeconroy/paceconv/view/sections"

templ ShowIndex() {
    @Base(){
        @sections.ShowDistanceToPace()
        @sections.ShowDistanceConverter()
        @sections.ShowTemperatureConverter()
        @sections.ShowHRZonesCalculator()
    }
}
